<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


<div class="dashboard-container">
    <div class="row">
<div class="col-md-12">
    <div class="card">
        <div class="card-header bg-primary text-white">                        
            Compras Recientes
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Fecha</th>
                        <th>Estado</th>
                        <th>Precio Pagado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <td>American</td>
                    <td>1</td>
                    <td>2023-05-20</td>
                    <td><span class="badge badge-success">Entregado</span></td>
                    <td>$3900</td>
                    </tr>
                    <tr>
                    <td>Tasty Ricca</td>
                    <td>2</td>
                    <td>2023-05-19</td>
                    <td><span class="badge badge-danger">Cancelado</span></td>
                    <td>$4900</td>  
                    </tr>
                    
                </tbody>
            </table>                        
        </div>
    </div>
</div>











