<!-- FILAS DINÁMICAS DE LA TABLA -->
<table id="cart-table"> 
    <thead>
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio Unitario</th>
            <th>Total</th>
            <th>Eliminar Producto</th>
        </tr>
    </thead>
    @if (item) {
<tbody id="cart-items">
    <tr>
        <td>{{ item.name }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.price | number : "1.2-2" }}</td>
        <td>{{ item.price * item.quantity | number : "1.2-2"  }}</td>
        <td>
            <button (click)="onRemoveItem()">Eliminar</button>
        </td>
    </tr>
</tbody>
}
</table>

