<!-- dashboard.component.html -->
<div class="dashboard-container">
    <nav class="sidebar">
      <button (click)="showAdminComponent()">Productos</button>
      <button (click)="showComprasComponent()">Compras</button>
    </nav>
    <main class="main-content">
      <ng-container *ngIf="showAdmin">
        <app-admin></app-admin>
      </ng-container>
      <ng-container *ngIf="showCompras">
        <table>
          <thead>
            <tr>
              <th>ID Usuario</th>
              <th>Nombre Usuario</th>
              <th>Descripción</th>
              <th>Precio Total</th>
              <th>Fecha</th>
              <!-- Otros campos que desees mostrar -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let compra of compras">
              <td>{{ compra.user_first_name }} {{ compra.user_last_name || '' }}</td>
              <td>{{compra.descripcion}}</td>
              <td>{{compra.precio_total}}</td>
              <td>{{compra.fecha | date}}</td>
              <!-- Otros campos que desees mostrar -->
            </tr>
          </tbody>
        </table>
      </ng-container>
    </main>
  </div>
  