<main id="bg">
    <div>
        <form (ngSubmit)="registrarUsuario()" [formGroup]="formRegister"
            class="container my-3 justify-content-center col-9 border caja2">
            <div class="caja-titulo">
                <h3>Registrate</h3>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <label for="username"></label>
                    <input type="text" formControlName="username" id="username" class="form-control"
                        placeholder="Nombre de usuario" required maxlength="30">
                    <div class="alert alert-danger mt-2" [hidden]="username.valid || username.pristine">
                        <div *ngIf="username.errors?.['required']">El nombre de usuario es obligatorio.</div>
                        <div *ngIf="username.errors?.['minlength']">El nombre de usuario debe tener al menos 3
                            caracteres.</div>
                        <div *ngIf="username.errors?.['pattern']">El nombre de usuario debe ser válido.</div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <label for="password"></label>
                    <input type="password" formControlName="password" id="password" class="form-control"
                        placeholder="Contraseña" required>
                    <div class="alert alert-danger mt-2" [hidden]="password.valid || password.pristine">
                        <div *ngIf="password.errors?.['required']">La contraseña es obligatoria.</div>
                        <div *ngIf="password.errors?.['pattern']">
                            La contraseña debe tener al menos 8 caracteres, incluyendo al menos una letra minúscula, una
                            letra mayúscula y un número.
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <label for="password2"></label>
                    <input type="password" formControlName="password2" id="password2" class="form-control"
                        placeholder="Confirmar Contraseña" required>
                    <div class="alert alert-danger mt-2" [hidden]="password2.valid || password2.pristine">
                        <div *ngIf="password2.errors?.['required']">La confirmación de la contraseña es obligatoria.
                        </div>
                        <div *ngIf="password2.errors?.['passwordMismatch']">Las contraseñas deben ser iguales.</div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <label for="email"></label>
                    <input type="email" formControlName="email" id="email" class="form-control" placeholder="Email"
                        required>
                    <div class="alert alert-danger mt-2" [hidden]="email.valid || email.pristine">
                        <div *ngIf="email.errors?.['required']">El email es obligatorio.</div>
                        <div *ngIf="email.errors?.['email']">El email debe ser válido.</div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <label for="first_name"></label>
                    <input type="text" formControlName="first_name" id="first_name" class="form-control"
                        placeholder="Nombre" required maxlength="30">
                    <div class="alert alert-danger mt-2" [hidden]="first_name.valid || first_name.pristine">
                        <div *ngIf="first_name.errors?.['required']">El nombre es obligatorio.</div>
                        <div *ngIf="first_name.errors?.['minlength']">El nombre debe tener al menos 3 caracteres.</div>
                        <div *ngIf="first_name.errors?.['pattern']">El nombre debe contener solo letras.</div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <label for="last_name"></label>
                    <input type="text" formControlName="last_name" id="last_name" class="form-control"
                        placeholder="Apellido" required maxlength="30">
                    <div class="alert alert-danger mt-2" [hidden]="last_name.valid || last_name.pristine">
                        <div *ngIf="last_name.errors?.['required']">El apellido es obligatorio.</div>
                        <div *ngIf="last_name.errors?.['minlength']">El apellido debe tener al menos 3 caracteres.</div>
                        <div *ngIf="last_name.errors?.['pattern']">El apellido debe contener solo letras.</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <label for="telefono"></label>
                    <input type="tel" formControlName="telefono" id="telefono" class="form-control"
                        placeholder="Teléfono" required>
                    <div class="alert alert-danger mt-2" [hidden]="telefono.valid || telefono.pristine">
                        <div *ngIf="telefono.errors?.['required']">El número de teléfono es obligatorio.</div>
                        <div *ngIf="telefono.errors?.['pattern']">El número de teléfono debe ser válido.</div>
                    </div>
                </div>
                <div formGroupName="direccion">
                    <div class="col-md-6 col-lg-6">
                        <label for="calle"></label>
                        <input type="text" formControlName="calle" id="calle" class="form-control" placeholder="Calle"
                            required>
                        <div class="alert alert-danger mt-2" [hidden]="calle.valid || calle.pristine">
                            <div *ngIf="calle.errors?.['required']">La calle es obligatoria.</div>
                            <div *ngIf="calle.errors?.['pattern']">La calle debe ser válida.</div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <label for="numero"></label>
                        <input type="text" formControlName="numero" id="numero" class="form-control"
                            placeholder="Número" required>
                        <div class="alert alert-danger mt-2" [hidden]="numero.valid || numero.pristine">
                            <div *ngIf="numero.errors?.['required']">El número es obligatorio.</div>
                            <div *ngIf="numero.errors?.['pattern']">El número debe ser válido.</div>
                        </div>
                    </div>
                    <div formGroupName="barrio">
                        <div class="col-md-6 col-lg-6">
                            <label for="nombre_barrio"></label>
                            <input type="text" formControlName="nombre_barrio" id="nombre_barrio" class="form-control"
                                placeholder="Barrio" required>
                            <div class="alert alert-danger mt-2"
                                [hidden]="nombre_barrio.valid || nombre_barrio.pristine">
                                <div *ngIf="nombre_barrio.errors?.['required']">El barrio es obligatorio.</div>
                                <div *ngIf="nombre_barrio.errors?.['pattern']">El barrio debe ser válido.</div>
                            </div>
                        </div>
                        <div formGroupName="localidad">
                            <div class="col-md-6 col-lg-6">
                                <label for="nombre_localidad"></label>
                                <input type="text" formControlName="nombre_localidad" id="nombre_localidad"
                                    class="form-control" placeholder="Localidad" required>
                                <div class="alert alert-danger mt-2"
                                    [hidden]="nombre_localidad.valid || nombre_localidad.pristine">
                                    <div *ngIf="nombre_localidad.errors?.['required']">La localidad es obligatoria.
                                    </div>
                                    <div *ngIf="nombre_localidad.errors?.['pattern']">La localidad debe ser válida.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <label for="cod_postal"></label>
                                <input type="text" formControlName="cod_postal" id="cod_postal" class="form-control"
                                    placeholder="CP" required>
                                <div class="alert alert-danger mt-2" [hidden]="cod_postal.valid || cod_postal.pristine">
                                    <div *ngIf="cod_postal.errors?.['required']">El código postal es obligatorio.</div>
                                    <div *ngIf="cod_postal.errors?.['pattern']">El código postal debe ser válido.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <button type="submit" class="mt-3 input-submit" [disabled]="formRegister.invalid" value="registrar"
                    id="submitButton">Enviar</button>
            </div>
            <div class="text-center mt-3">
                <a class="link" routerLink="/login">¿Ya tenés una cuenta? <b> Iniciá sesión</b></a>
            </div>
        </form>
        <br>
    </div>
</main>