<main>
    <div class="container">
      <div class="row">
         <div class="col-md-12">
             <div class="well well-sm">
                 <form class="form-horizontal" [formGroup]="formUser"  method="post">
                     <fieldset>
                        <legend class="text-center header">Contacto</legend>
                        <p>No dudes en ponerte en contacto con nosotros si tienes dudas o sugerencias.</p>

                            <div class="row form-group">
                                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                                <div class="col-md-8">
                                    <input id="lname" formControlName="name" name="name" type="text" placeholder="Nombre" class="form-control">
                                </div>
                                <div class="alert alert-danger mt-2 col-md-6" [hidden]="name.valid ||name.pristine">
                                    <span *ngIf="name.errors?.['required']">
                                        El nombre es obligatorio
                                    </span>
                                    <span *ngIf="name.errors?.['pattern']">
                                        El nombre debe contener solo letras
                                    </span>
                                </div>
                            </div>
                            <div class="row form-group">
                                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                                <div class="col-md-8">
                                    <input id="lname" formControlName="surname" name="surname" type="text" placeholder="Apellido" class="form-control">
                                </div>
                                <div class="alert alert-danger mt-2 col-md-6" [hidden]="surname.valid ||surname.pristine">
                                    <span *ngIf="surname.errors?.['required']">
                                        El apellido es obligatorio
                                    </span>
                                    <span *ngIf="surname.errors?.['pattern']">
                                        El apellido debe contener solo letras
                                    </span>
                                </div>
                            </div>
    
                            <div class="row form-group">
                                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o bigicon"></i></span>
                                <div class="col-md-8">
                                    <input id="email" formControlName="email" name="email" type="text" placeholder="Correo electrónico" class="form-control">
                                </div>
                                <div class="alert alert-danger mt-2 col-md-6" [hidden]="email.valid ||email.pristine">
                                    <span *ngIf="email.errors?.['required']">
                                        El email es obligatorio
                                    </span>
                                    <span *ngIf="email.errors?.['email']">
                                        El email debe ser valido
                                    </span>
                                </div>
                            </div>
    
                            <div class="row form-group">
                                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-phone-square bigicon"></i></span>
                                <div class="col-md-8">
                                    <input id="phone" formControlName="phone" name="phone" type="text" placeholder="Teléfono" class="form-control">
                                </div>
                                <div class="alert alert-danger mt-2 col-md-6" [hidden]="phone.valid ||phone.pristine">
                                    <span *ngIf="phone.errors?.['required']">
                                        El numero de teléfono es obligatorio
                                    </span>
                                    <span *ngIf="phone.errors?.['pattern']">
                                        El teléfono debe contener solo numeros, sin espacios
                                    </span>
                                </div>
                            </div>
    
                            <div class="row form-group">
                                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-pencil-square-o bigicon"></i></span>
                                <div class="col-md-8">
                                    <textarea class="form-control" formControlName="message" id="message" name="message" placeholder="Introduzca aquí su mensaje para nosotros. No comunicaremos con usted en breve" rows="7"></textarea>
                                </div>
                                <div class="alert alert-danger mt-2 col-md-6" [hidden]="message.valid ||message.pristine">
                                        Por favor, escriba el mensaje
                                </div>
                            </div>
    
                            <div class="row form-group">
                                <div class="col-md-12 text-center">
                                    <button type="submit" class="btn btn-dark btn-lg" [disabled]="formUser.invalid">Enviar</button>
                                </div>
                               
                                
                            </div>
        
                            <br>
                            <br>
                            
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
