<main>
  <div class="container py-4">
    <div class="row text-center text-black">
      <div class="col-lg-8 mx-auto">
        <h1 class="display-4">Nosotros</h1>
        <p class="lead mb-0">Nuestra historia</p>
      </div>
    </div>
  </div>
  <div
    class="d-flex justify-content-center flex-lg-row flex-md-row flex-sm-column flex-column"
  >
    <div class="col-md-5 ms-2 p-2 m-2 nosotros">
      <p>
        Ricco Burgers nació del fanatismo de un grupo de amigos por las
        hamburguesas. La diversidad de gustos por diferentes tipos de
        hamburguesas, hizo que podamos crear un producto que se adapta de la
        mejor manera, al paladar de todos nuestros consumidores. <br />
        Lo que nos destaca con respecto a nuestra competencia es que antes de
        ser prestadores de servicios, fuimos primero consumidores y sabemos que
        lo importante cuando uno compra una hamburguesa es que sea RICA, GRANDE
        y ECONOMICA, y esto es lo que encontraras en Ricco Burgers.
      </p>
    </div>
    <div class="col-md-5">
      <img
        class="img-fluid rounded-pill"
        src="../assets/img/amigos.jpg"
        alt="foto de amigos"
      />
    </div>
  </div>
  <br />

  <section id="team">
    <div class="container py-5">
      <div class="row text-center text-black">
        <div class="col-lg-8 mx-auto">
          <h2 class="display-4">Nuestro equipo</h2>
          <p class="lead mb-0">
            Somos estudiantes de Desarrollo Web y Aplicaciones digitales del
            Instituto Superior Politécnico Córdoba.
          </p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row text-center justify-content-center">
        @for (developer of developerList; track developer.id)
        {
          <div class="col-xl-3 col-sm-6 mb-5 px-4">
            <div class="bg-white rounded shadow-sm py-5 px-4">
              <img
                src={{developer.fotoUrl}}
                alt=""
                width="100"
                class="img-fluid rounded-circle mb-3 shadow-sm"
              />
              <h5 class="mb-0">{{developer.name}}</h5>
              <span class="small text-uppercase text-muted">{{developer.rol}}</span>
              <ul class="social mb-0 list-inline mt-3">
                
                <li class="list-inline-item">
                  <a href= "{{developer.redesSociales.facebook}}" class="social-link link"
                    ><i class="fa fa-facebook-f"></i
                  ></a>
                </li>
                <li class="list-inline-item">
                  <a href= "{{developer.redesSociales.instagram}}" class="social-link link"
                    ><i class="fa fa-instagram"></i
                  ></a>
                </li>
                <li class="list-inline-item">
                  <a href= "{{developer.redesSociales.linkedin}}" class="social-link link"
                    ><i class="fa fa-linkedin"></i
                  ></a>
                </li>
                <li class="list-inline-item">
                  <a href= "{{developer.redesSociales.github}}" class="social-link link"
                    ><i class="fa-brands fa-github"></i
                  ></a>
                </li>

              </ul>
            </div>
          </div>
        } 
        
      </div>
    </div>
  </section>
</main>




            <!-- <div class="bg-white rounded shadow-sm py-5 px-4"><img src="../assets/img/Ernesto.png" alt="" width="100" class="img-fluid rounded-circle mb-3 shadow-sm">
              <h5 class="mb-0">Ernesto Cevasco</h5>
              <span class="small text-uppercase text-muted">Developer team</span> -->
            