<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">



<div class="col-md-12">
    <div class="card">
        <div class="card-header bg-primary text-white">                        
            Historial de Compras
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Fecha</th>
                        <th>Precio</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Combinamos la información en la misma fila -->
                    <tr *ngFor="let compra of getCompra; let i = index">
                        <td>{{ compra.descripcion }}</td>
                        <td>{{ getDetalle[i] ? getDetalle[i].cantidad : 'Cantidad no disponible' }}</td>
                        <td>{{ compra.fecha || 'Fecha no disponible' }}</td>
                        <td>{{ getDetalle[i] ? getDetalle[i].precio_calculado : 'Precio no disponible' }}</td>

                    </tr>
                </tbody>
                <div *ngIf="!getDetalle || getDetalle.length === 0">
                    <p>No hay producto disponible.</p>
                </div>              
            </table>                        
        </div>
    </div>
</div>
