<div id="cart-container" class="container">
    <div id="cart-content">
        <h2 id="cart-title">Carrito de Compras</h2>
        <!-- TITULOS TABLA -->
        @if (count()) {   
        
            @for (item of items(); track item.id) {
                <app-cart-item-card
                [item]="item"
                (itemQuantityUpdate)="onItemQuantityUpdate($event, item.id)"
                (removeItem)="onRemoveItem(item.id)"
                ></app-cart-item-card>
            }
            <div class="cart-end">
                Cantidad Total: <strong>{{ count() === 1 ? count() + " item" : count() + " items" }} </strong>
                <br>
                Precio Total: <strong>${{ total() | number : "1.2-2" }}</strong>
            </div>
    
    }@else{
        <div class="cart-empty">El carrito está vacío!</div>
    }
</div>