<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    

       <div class="dashboard-container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header bg-primary text-white">                       
                        <a routerLink="/productos" class="nav-link" target="blank">  Agregar al carrito                 
                        <img  class="cartIcon" src="../assets/img/cart1.png" ></a>
                    </div>
                <div class="card-body">                        
                </div>            
            </div>
        </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header bg-primary text-white">                        
                        <a routerLink="/comprasrecientes" class="nav-link" target="blank">Compras Recientes</a>
                    </div>
                    <div class="card-body">                        
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header bg-primary text-white">                        
                        <a routerLink="/historialdecompras" class="nav-link"  target="blank"> Historial de Compras </a>
                    </div>
                    <div class="card-body">                    
                    </div>
                </div>
            </div>
        </div>
    </div>    
